<%= form_with id: 'prime-form', class: 'form' do |form| %>
  <div class="form__field">
    <%= form.label :n, t(:number), class: 'form__label' %>
    <%= form.number_field :n, min: 1, class: 'form__input' %>
  </div>
  <%= form.button t(:generate), type: 'submit', class: 'button' %>
<% end %>
