<%= render 'prime_table_form' %>
<table>
  <thead>
    <tr>
      <% @primes.each do |n| %>
        <% if n == 1 %>
          <td></td>
        <% else %>
          <th scope="col"><%= n %></th>
        <% end %>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @primes.each do |n| %>
      <tr>
        <% @primes.each_with_index do |m, i| %>
          <% if n == 1 %>
          <% elsif i == 0 %>
            <th scope="row"><%= n %></th>
          <% else %>
            <td><%= n * m %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
