<table>
  <thead>
    <tr>
      <% @prime_table[0].each do |n| %>
        <% if n == 1 %>
          <td></td>
        <% else %>
          <th scope="col"><%= n %></th>
        <% end %>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @prime_table[1..].each do |row| %>
      <tr>
        <% row.each_with_index do |n, i| %>
          <% if i == 0 %>
            <th scope="row"><%= n %></th>
          <% else %>
            <td><%= n %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
