<%= render 'prime_table_form' %>
<div id="prime-table"></div>
<%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    insertMultiplicationTable(<%= @primes %>)
  })
</script>
